<app-header></app-header>

<div class="container">
        <div class="card border-5 shadow my-5">
            <img src="assets/homepageimg-min.jpg" alt="Angular Project" class="img-thumbnail">
            <div class="card-body p-0">
            </div>
        </div>
    
    <div align="center"><h2>Our Policies</h2></div>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/health insurence1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Up to 6 family members</h5>
                        <p class="card-text">by IMIC Rs. 2 lakhs
                                Maximum sum assured</p>
                        <a  routerLink = "/user-registration"  routerActivate="active" class="btn btn-primary">Click to register</a>
                    </div>
                </div>
            </div>
    
    
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/familyimage.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Up to 6 family members</h5>
                        <p class="card-text">by IMIC Rs. 5 lakhs
                                Maximum sum assured</p>
                        <a  routerLink = "/user-registration"  routerActivate="active" class="btn btn-primary">Click to register</a>
                    </div>
                </div>
            </div>
    
    
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/health insurence3.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Up to 6 family members</h5>
                    <p class="card-text">by IMIC Rs. 7 lakhs
                            Maximum sum assured</p>
                    <a routerLink = "/user-registration"  routerActivate="active" class="btn btn-primary">Click to register</a>
                </div>
            </div>
        </div>