<app-header></app-header>
<section class="cmspage mtb-40">
        <div class="container">
          <h1>About</h1>
          <div class="page-desc">
            <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> -->
            <p>
                Our Health Insurance Offers You
                health plans with a wide range of benefits to take care of you and your family. Our Health Insurance plans are flexible and affordable with different Sum Insured options to suit your unique need. Choose from basic health coverage to specialist medical insurance plans that offer maternity benefits.
               
               Pre and post hospitalization expenses 200 Day Care procedures CoveredLifetime renewalTax benefit under section 80 (D)ISO certified claims processMaternity coverCashless hospitalization at over 5000+ network hospitalsGet Cumulative bonus for every claim free years up to 100% of the base sum insured. 100% Reload of Sum Insured at no extra cost.Pre-existing cover after 3 year waiting period
               If you already have a medical coverage from another insurer, you can apply for portability to transfer the credit gained by you for pre-existing conditions and time bound exclusions. Know more about Health Insurance Portability. Once your portability application is accepted you can buy  Health Insurance Policy.
               
            </p>
      
            <h3>What Health Insurance Covers?</h3>
      
      
            <p>
                In-patient Hospitalization<br>
                Pre and post hospitalization expenses<br>
                Day care procedures<br>
                Domiciliary hospitalization charges<br>
                Preventive healthcare as well as wellness<br>
                Ambulance charges<br>
                Health check-up<br>
                AYUSH Treatment<br>
                Vaccination in case of animal bite<br>
            </p>
          </div>
        </div>
      </section>
      